.main{
   margin: 5%;
}
.card{
    margin: 5%;
}
img{
    height: 5cm;
}
.form-group{
    justify-content: space-around;
}
input {
    width: 19cm;
    margin: 2%;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.signIn{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.deuxBtn{
    display: flex;
    justify-content: space-around;
}
.in{
    width: auto;
}
.bt{
    margin-top: 10%;
}
